/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    font-family: 'Pacifico', cursive;
    padding: 0px;
    margin: 0px;
    /* outline: 1px dotted red; */
}

body{
    display: flex;
    align-items: stretch;
}

header{
    margin-bottom: 10px;
}

header p{
    font-size: 20px;
}


/* Challenge */
div#challenge{
    background: wheat;
    display: inline-block;
    padding: 10px;
    width: 960px;
    height: 637px;
    max-height: 637px;
    overflow-y: scroll;
}

div#challenge h1{
    text-align: center;
}

div#challenge div#convo{
    border: 1px solid black;
    position: relative;
    width: 450px;
    height: 180px;
    margin: 10px auto;
}

div#challenge div#rubysays{
    position: absolute;
    right: 0px;
}

div#challenge div#respond{
    position: absolute;
    bottom: 10px;
}

div#challenge div#rubysays p{
    display: inline-block;
}

div#challenge div#rubysays img{
    vertical-align: -70px;
    display: inline-block;
    height: 100px;
}

div#challenge div#respond img{
    vertical-align: -70px;
    display: inline-block;
    height: 100px;
}

div#challenge div#respond p{
    display: inline-block;
    /* background: #000; */
}

div#console{
    width: 720px;
    height: 380px;
    margin: 30px auto;
    border: 1px solid black;
    background: lightblue;
    font-size: 14px;
    padding: 10px;
}

div#console div#line-numbers{
    float: left; 
    text-align: right; 
    padding-right: 10px; 
    border-right: 1px solid black; 
    margin-right: 5px;
}

textarea{
    resize: none;
    padding-left: 5px;
}

/* Description */
div#description{
    background: pink;
    display: inline-block;
    padding: 10px;
    width: 366px;
    vertical-align: top;
}

p#level{
    display: inline-block;
    font-size: 20px;
}

div#navigations{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 27px;
}

div#navigations img{
    display: inline-block;
    position: relative;
    margin: 0 5px;
    top: 5px;
    height: 20px;
}

progress{
    width: 100%;
}

div#description h3.syntax{
    font-size: 24px;
    margin: 10px 0;
    padding: 0;
    font-weight: 200;
    opacity: .8;
    margin: 10px 0;
    background: rgb(199, 6, 119);
    display: inline-block;
    padding: 5px 8px;
}

div#description strong{
    background: rgb(199, 6, 119);
    opacity: .8;
    font-weight: 200;
    padding: 2px 4px;
}

div#description p{
    margin: 15px 0;
}

div#description p.examples{
    border-top: 1px solid #555;
}


/* for Scroll bar */
div#challenge::-webkit-scrollbar {
    width: 10px;
}

div#challenge::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

div#challenge::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

div#challenge::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
