/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    font-family: 'Pacifico', cursive;
    padding: 0px;
    margin: 0px;
    /* outline: 1px dotted red; */
}

body{
    display: flex;
    align-items: stretch;
}

header{
    margin-bottom: 10px;
}

header p{
    font-size: 22px;
    font-weight: bolder;
}


/* Challenge */
div#challenge{
    background: wheat;
    display: inline-block;
    padding: 10px;
    width: 960px;
    height: 637px;
    max-height: 637px;
    overflow-y: scroll;
}

div#challenge h1{
    text-align: center;
}

div#challenge div#convo{
    border: 1px solid black;
    position: relative;
    width: 450px;
    height: 180px;
    margin: 10px auto;
}

div#challenge div#rubysays{
    position: absolute;
    right: 0px;
}

div#challenge div#respond{
    position: absolute;
    bottom: 10px;
}

div#challenge div#rubysays p{
    display: inline-block;
}

div#challenge div#rubysays img{
    vertical-align: -70px;
    display: inline-block;
    height: 100px;
}

div#challenge div#respond img{
    vertical-align: -70px;
    display: inline-block;
    height: 100px;
    margin-left: 10px;
}

div#challenge div#respond p{
    display: inline-block;
    /* background: #000; */
}

div#challenge form{
    width: 600px;
    margin: 30px auto;
    font-size: 14px;
    background: #000;
}

div#challenge form p{
    padding: 3px;
    color: white;
}

div#challenge form input[type=submit]{
    width: 100%;
    background: rgb(148, 53, 108);
    color: white;
}

div#editor{
    width: 600px;
    height: 350px;
    margin: 0px auto;
    font-size: 16px;
}

/* challenge description */
div#challenge_desc{
    display: inline-block;
    padding: 10px;
    width: 366px;
    background: pink;
}

div#challenge_desc p#level{
    display: inline-block;
    font-size: 22px;
    font-weight: bolder;
}

div#challenge_desc div#navigations{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 17px;
}

div#challenge_desc div#navigations img{
    display: inline-block;
    position: relative;
    margin: 0 5px;
    top: 0px;
    height: 20px;
}

div#challenge_desc progress{
    width: 100%;
}

div#challenge_desc h3.syntax{
    font-size: 24px;
    margin: 10px 0;
    padding: 0;
    font-weight: 200;
    opacity: .8;
    margin: 10px 0;
    background: rgb(207, 73, 151);
    border-bottom: 4px solid rgb(148, 53, 108);
    display: inline-block;
    padding: 5px 8px;
}

div#challenge_desc strong{
    background: rgb(199, 6, 119);
    opacity: .8;
    font-weight: 200;
    padding: 2px 4px;
}

div#challenge_desc p:not(#level){
    margin: 15px 0;
}

div#challenge_desc p.examples{
    border-top: 1px solid #555;
}


/* List of Challenges */
div#challenges_list{
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 366px;
    background: pink;
}

div#challenges_list p#choose{
    display: inline-block;
    font-size: 22px;
    font-weight: bolder;
}


div#challenges_list img.exit{
    position: absolute;
    height: 20px;
    right: 25px;
    top: 17px;
}

/* list of all challenges */
div#challenges_list{
    display: none;
}

div#challenges_list ol{
    list-style-type: none;
}

div#challenges_list ol p{
    margin-top: 10px;
    font-weight: bolder;
}

div#challenges_list ol li {
    margin-left: 10px;
}

div#challenges_list ol li:before {
    content: counter(list-item) " ";
}

/* for Scroll bar */
div#challenge::-webkit-scrollbar, .ace_scrollbar::-webkit-scrollbar {
    width: 3px;
}

div#challenge::-webkit-scrollbar-track, .ace_scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

div#challenge::-webkit-scrollbar-thumb, .ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

div#challenge::-webkit-scrollbar-thumb:hover, .ace_scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
