/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    padding: 0px;
    margin: 0px;
    letter-spacing: 1px;
    /* outline: 1px dotted red; */
}

body{
    font-family: 'Proxima Nova', sans-serif;
    display: flex;
    align-items: stretch;
}

header{
    margin-bottom: 30px;
    background: wheat;
    padding: 15px 0 8px 0;
}

header img{
    display: inline-block;
    margin-left: 90px;
}

/* Challenge */
div#challenge{
    background-color:#FAF6F5;
    width: 960px;
    height: 657px;
    overflow-y: scroll;
}

div#challenge h1{
    color: #333;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

div#challenge div#interaction{
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
}

div#challenge div#convo{
    background-color: #dfe1e3;
    border: 2px solid #ddd;
    border-radius: 10px;
    position: relative;
    width: 90%;
    min-height: 200px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

div#challenge div#rubysays{
    position: absolute;
    right: 10px;
}

div#challenge div#rubysays p{
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    line-height: 1.4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

div#challenge div#rubysays img{
    vertical-align: -70px;
    display: inline-block;
    height: 100px;
}

div#challenge div#respond{
    position: absolute;
    bottom: 10px;
}

div#challenge div#respond p{
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    line-height: 1.4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
    .correct{
        color: green;
    }

    .wrong{
        color: red;
    }

div#challenge div#respond img{
    vertical-align: -70px;
    display: inline-block;
    height: 100px;
    margin-left: 10px;
}

div#challenge div#done{
    display: none;
    position: relative  ;
}

div#challenge div#done img{
    width: fit-content;
    height:170px;
    display: block;
    margin: 0px auto;
}

div#challenge div#done p{
    text-align: center;
    width: 70%;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    line-height: 1.4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

div#challenge form{
    width: 90%;
    margin: 30px auto;
    background: #000;
}

div#challenge form p{
    padding: 5px 15px;
    color: #cccbcb;
}

div#challenge form input[type=submit]{
    width: 100%;
    background: #2D9AC3;
    color: white;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
    border: 0;
    transition: 0.21s;
}

div#challenge form input[type=submit]:hover{
    opacity: 0.8;
}

div#editor{
    height: 350px;
    font-size: 16px;
}

/* challenge description */
div#challenge_desc{
    position: relative;
    padding: 20px;
    width: 410px;
    height: 657px;
    overflow-y: scroll;
    box-sizing: border-box;
    background: #f1e3e0;
}

div#challenge_desc p#level{
    display: inline-block;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 5px;
}

div#challenge_desc img#rubybadge{
    height: 20px;
    position: absolute;
    margin-left: 10px;
}

div#challenge_desc div#navigations{ 
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 23px;
}

div#challenge_desc div#navigations img{
    display: inline-block;
    position: relative;
    margin: 0 5px;
    top: 0px;
    height: 20px;
}

div#challenge_desc progress{
    width: 100%;
}

progress {
    width: 100%;
    margin-bottom: 10px;
    height: 3px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

progress::-webkit-progress-bar {
    background-color: #f5f5f5;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #FF94AB;
    border-radius: 10px;
}

div#challenge_desc h2{
    font-weight: 800;
    font-size: 28px;
}

div#challenge_desc h3#subtitle{
    margin: 10px 0;
}

div#challenge_desc h3.syntax{
    font-size: 24px;
    margin: 10px 0;
    padding: 0;
    font-weight: 200;
    opacity: .8;
    margin: 10px 0;
    background: rgb(250 145 229);
    border-bottom: 4px solid rgb(250 73 175);
    display: inline-block;
    padding: 5px 8px;
    font-weight: 700;
}

div#challenge_desc div.examp{
    width: 98%;
    background: rgb(250 145 229);
    font-weight: 700;
    padding: 3px 5px;
    margin: 10px 0;
}

div#challenge_desc div.examp:not(:empty):before {
    content: '';
}

div#challenge_desc div.examp:not(:empty){
    opacity: .8;
}

div#challenge_desc p:not(#level){
    margin: 15px 0;
}

/* List of Challenges */
div#challenges_list{
    position: relative;
    padding: 20px;
    width: 410px;
    height: 657px;
    overflow-y: scroll;
    box-sizing: border-box;
    display: none;
    background: #f1e3e0;
}

div#challenges_list p#choose{
    display: inline-block;
    font-size: 22px;
    font-weight: bolder;
}

div#challenges_list img.exit{
    position: absolute;
    height: 20px;
    right: 25px;
    top: 23px;
}

div#challenges_list ol{
    list-style-type: none;
}

div#challenges_list ol p{
    margin-top: 10px;
    font-weight: bolder;
}

div#challenges_list ol li {
    margin: 5px 0 0 10px;
    text-decoration: underline;
    width: 100%;
}

div#challenges_list ol li:hover {
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

div#challenges_list ol li img {
    height: 10px;
    position: absolute;
    margin: 3px 0 0 10px;
}

div#challenges_list ol li:before {
    content: counter(list-item) " ";
}

div#challenges_list button{
    position: absolute;
    bottom: 10px;
    width: 365px;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    background: #ff5f5f;
    color: white;
    border: 0;
}

/* for Scroll bar */
::-webkit-scrollbar{
    width: 3px;
    position: absolute;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}